 <!--Introduction-->
 <section id="about" class="introduction scrollto reduced-width-container">

    <div class="row clearfix little-padding-top flexbox-container">

        <div>
            <div class="section-heading">
                <h3>ABOUT ME & SKILLS</h3>
                <h2 class="section-title" id="text-align-end">I AM A SOFTWARE DEVELOPMENT ENGINEER FROM CHIAPAS, MÉXICO, AND I 
                    LIKE TO WORK MORE IN FRONT-END DEVELOPMENT, ALTHOUGH I HAVE ALSO WORKED IN BACK-END.</h2>
            </div>

        </div>

        <div>
            <div class="col-1 icon-block icon-top wow fadeInUp" id="skills" data-wow-delay="0.1s" >
                <div class="row ">
                    <div class="col-6 bg-white flexbox-container tooltip">
                        <i class="fa fa-html5 fa-2x"></i>
                        <span class="tooltiptext">HTML</span>
                    </div>
                    <div class="col-6 bg-graylittle flexbox-container tooltip">
                        <i class="fa-brands fa-css3-alt fa-2x"></i>
                        <span class="tooltiptext">CSS</span>
                    </div>
                    <div class="col-6 bg-green1 flexbox-container tooltip">
                        <i class="fa-brands fa-js fa-2x"></i>
                        <span class="tooltiptext">JS</span>
                    </div> 
                    <div class="col-6 bg-green2 flexbox-container tooltip">
                        <i class="fa-brands fa-angular fa-2x"></i>
                        <span class="tooltiptext">ANGULAR</span>
                    </div>
                    <div class="col-6 bg-green3 flexbox-container tooltip">
                        <i class="fa-brands fa-bootstrap fa-2x"></i>
                        <span class="tooltiptext">BOOTSTRAP</span>
                    </div>
                    <div class="col-6 bg-greendark flexbox-container tooltip">
                        <i class="fa-brands fa-php fa-2x"></i>
                        <span class="tooltiptext">PHP</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 bg-white flexbox-container tooltip"> 
                        <i class="fa-brands fa-figma fa-2x"></i>
                        <span class="tooltiptext">FIGMA</span>
                    </div>
                    <div class="col-6 bg-graylittle flexbox-container tooltip">
                        <i class="fa-brands fa-github fa-2x"></i>
                        <span class="tooltiptext">GITHUB</span>
                    </div>
                    <div class="col-6 bg-green1 flexbox-container tooltip">
                        <i class="fa-brands fa-linux fa-2x"></i>
                        <span class="tooltiptext">LINUX</span>
                    </div> 
                    <div class="col-6 bg-green2 maxheight flexbox-container tooltip">
                        <i><img id="i1" src="assets/images/mysql.png" alt=""></i>
                        <span class="tooltiptext">MYSQL</span>
                    </div>
                    <div class="col-6 bg-green3 maxheight flexbox-container tooltip">
                        <i><img id="i2" src="assets/images/adobexd.png" alt=""></i>
                        <span class="tooltiptext">ADOBE XD</span>
                    </div>
                    <div class="col-6 bg-greendark maxheight flexbox-container tooltip">
                        <i><img id="i3"src="assets/images/visualsc.png" alt=""></i>
                        <span class="tooltiptext">VISUAL STUDIO CODE</span>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
<!--End of Introduction-->