<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
  
    <!--Banner Content-->
    <div id="banner-content" class="row clearfix">
  
        <div class="flexbox-container">
  
            <div class="section-heading">
                <h1 class="gradient-text shadow-text">ING. DIANA CAROLLI BOLAÑOS CHANONA</h1>
            </div>
            <div id="imghome" class="alignI-C-justifyC-E">
                <img src="../../../assets/images/banner-images/banner-image-home.png" alt="">
            </div>
  
        </div>
        
  
    </div><!--End of Row-->
</header>
  