<aside id="projects" class="row text-center scrollto clearfix pdd-T-B ">
    <div class="section-heading">
      <h3>PROJECTS</h3>
      <h2 class="section-title">PERSONAL PROJECTS</h2>
    </div>
    
    <div class="section-cards">
      <div id="aCard">
        <a class="contenedor col-2 wow fadeIn open"  data-modal="modal1" >
          <img src="assets/images/gallery-images/cardP2.png" class="imgCard"/>
          <div>
            <img src="assets/images/logoDB.png" class="centrado logoDBProjects" alt="Logo" /> 
          </div>
          <div class="centrado2">
            PORTFOLIO
          </div>
        </a>
      </div>
      
      <div id="modal1" class="modal-frame">
        <div class="modal-overlay"></div> 
        <div class="modal">
          <div class="modal-inset">
            <div class="close"><i class="fa fa-close"></i></div>
            <div class="modal-body">
            <div class="col-3">
              <h3 class="">PROJECT</h3>
              <h1>PORTAFOLIO</h1>
              <h3>ABOUT</h3>
              <p>This project is a personal portfolio website with four main sections: Home, About Me and Projects. 
                It also includes contact icons for LinkedIn, email, WhatsApp, and an option to view or download the programmer’s updated CV.
              </p>
            </div>
            <div class="col-2">
              <img id="img1s" src="assets/images/gallery-images/imgscroll1.png" alt="Image 1">
              <img id="img2s" src="assets/images/gallery-images/imgscroll2.png" alt="Image 2">
              <img id="img3s" src="assets/images/gallery-images/imgscroll3.png" alt="Image 3">
            </div>
            <div class="row btnModal1-2">
              <div class="col-3">
                <a class="btnmodal1" target="_blank" title="DEMO" href="https://dianacarolli123.github.io/portfolioDCBC/">
                  <div class="col-3">
                    <img class="mg-top" src="assets/images/gallery-images/imgdemo.png" alt="Image 1">
                  </div>
                  <div class="col-3">
                    <h3>DEMO</h3>
                  </div>
                </a> 
              </div>
              <div class="col-3">
                <a class="btnmodal2" target="_blank" title="CODE" href="https://github.com/Dianacarolli123/portfolioDCBC">
                  <div class="col-3">
                    <img class="mg-top" src="assets/images/gallery-images/imgcode.png" alt="Image 1">
                  </div>
                  <div class="col-3">
                    <h3>CODE</h3>
                  </div>
                </a>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      
      <div id="aCard">
        <a class="contenedor col-2 wow fadeIn open" data-modal="modal2">
          <img src="assets/images/gallery-images/cardP2.png" class="imgCard"/>
          <div>
            <img src="assets/images/logoWI.png" class="centrado logoWIProjects" alt="Logo" />
          </div>
          <div class="centrado2">
              INVITATION
          </div>
        </a>
      </div>
      
      <div id="modal2" class="modal-frame">
        <div class="modal-overlay"></div> 
        <div class="modal">
          <div class="modal-inset">
            <div class="close"><i class="fa fa-close"></i></div>
            <div class="modal-body">
            <div class="col-3">
              <h3 class="">PROJECT</h3>
              <h1>WEDDING INVITATION</h1>
              <h3>ABOUT</h3>
              <p>Digital wedding invitation designed to provide guests with essential event information, including dress code, location, gift registry, personalized passes with guest limits, and more. 
              </p>
            </div>
            <div class="col-2">
              <div class="image-container">
                <img src="assets/images/gallery-images/imgscroll1-2.png" alt="Image 1">
                <img src="assets/images/gallery-images/imgscroll2-2.png" alt="Image 2">
                <img src="assets/images/gallery-images/imgscroll3-2.png" alt="Image 3">
              </div>
                
            </div>
            <div class="row btnModal1-2">
              <div class="col-3">
                <a class="btnmodal1" target="_blank" title="DEMO" href="https://dianacarolli123.github.io/weddingInvitationPortfolio/">
                  <div class="col-3">
                    <img class="mg-top" src="assets/images/gallery-images/imgdemo.png" alt="Image 1">
                  </div>
                  <div class="col-3">
                    <h3>DEMO</h3>
                  </div>
                </a> 
              </div>
              <div class="col-3">
                <a class="btnmodal2" target="_blank" title="CODE" href="https://github.com/Dianacarolli123/weddingInvitationPortfolio">
                  <div class="col-3">
                    <img class="mg-top" src="assets/images/gallery-images/imgcode.png" alt="Image 1">
                  </div>
                  <div class="col-3">
                    <h3>CODE</h3>
                  </div>
                </a>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
</aside>