<aside id="certifications" class="row text-center scrollto clearfix pdd-T-B">
    <div class="section-heading">
        <h3>PROJECTS</h3>
        <h2 class="section-title">PERSONAL PROJECTS</h2>
    </div>
    
    <div class="wrapper">

        <h2 class="text-separator "><strong>UI/UX<span>( 1 )</span></strong></h2>
    
        <div class="cards">
            
            <figure class="card" data-modal="modal1">
                <a class="contenedor wow fadeIn open"  data-modal="modal1" >
                    <img src="assets/images/gallery-images/certificado-01.png" />
                </a>
            </figure>

            <div id="modal1" class="modal-frame">
                <div class="modal-overlay"></div> <!-- Overlay para el fondo -->
                <div class="modal">
                    <div class="modal-inset-certification">
                        <div class="close"><i class="fa fa-close"></i></div>
                        <img src="assets/images/gallery-images/certificado-01.png" class="modal-img" />
                    </div>
                </div>
            </div>

            <figure class="card" data-modal="modal2">
                <a class="contenedor wow fadeIn open"  data-modal="modal1" >
                    <img src="assets/images/gallery-images/certificado-01.png" />
                </a>
            </figure>

            <div id="modal2" class="modal-frame">
                <div class="modal-overlay"></div> <!-- Overlay para el fondo -->
                <div class="modal">
                    <div class="modal-inset-certification">
                        <div class="close"><i class="fa fa-close"></i></div>
                        <img src="assets/images/gallery-images/certificado-01.png" />
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</aside>
